# Code owners for Optimizely.Assessment
# These owners will be requested for review when someone opens a PR.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @SBSojib
